body
{
	font-size: 20px;
}
h1 
{
	color: orange;
	text-align: right;
}
p:first-letter
{
color: red;
}
em
{
	background-color: green;
}
#allotment h2
{
	color: orange;
}
ul>li
{
	font-weight: bold;
}
ul li ol li
{
	font-weight: normal;
}
#allotment ol.fruits-list li
{
	color: grey;
}
ol.vegetables-list li
{
	color: red;
}
#warehouse h2
{
	color: blue;
}
#warehouse ol.fruits-list li
{
	color: green;
}
thead td
{
	font-weight: bold;
	text-align: center;
}
tbody td
{
	background-color: green;
	text-align: center;
	color: white;
}
tbody td:nth-child(1)
{
	color: orange;
	text-align: left;
	background-color: white;
}