body
{
	font-size: 12px;
}
div
{
	margin-top: 900px;
}
ul
{
	list-style-type: none;
	width: 600px;
	font-size: 0;
}
li
{
	display: inline-block;
	padding: 10px;
	font-size: 12px;
	border: 1px solid grey;
	border-radius: 5px;
	margin-left: 5px;
}
:link,
:visited
{
	color: violet;
	text-decoration: none;

}
.word
{
	border: none;
}
li:not(.word):hover
{
	background-color: violet;
	
}
